:root {
  --primary-color: #E91E63;
  --secondary-color: red;
  --tertiary-color: red;
  --quaternary-color: red;
  --font-regular: 'inter';
  --font-bold: 'interbold';
  --text-color: black;
  --white-color: white;
  --black-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  display: block;
  min-height: 100vh;
}

.fullwidth {
  width: 100%;
}

.full-vh {
  height: 100vh;
}

.flex-justify {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}